*{
    margin: 0;
    padding: 10px;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}

h3{
    color: blueviolet;
    font-size: 35px;
    font-style: italic;
}

p{
    border: 2px solid blue;
    padding: 10px;
    border-radius: 10px;
}

.profile{
    width: 250px;
}